:root {
  font-family: "Rajdhani", sans-serif;
  overflow-x: hidden;

  --header-height: 80px;
  --footer-height: 80px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}

h1 {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(137, 43, 226, 0.219);
  border-radius: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/WT_X_002_1.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
}

.hide-desktop {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: black;
  border-bottom: 1px solid white;
  align-content: center;
  z-index: 5;
}

.nav-menu {
  height: 100%;
  margin: 0 10%;
}

.menu-list {
  align-self: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  text-decoration: none;
}

.menu-list > li > a {
  height: 100%;
  color: white;
  font-size: 1.6em;
  align-self: center;
  text-decoration: none;
}

.menu-list > li {
  padding: 20px 0 20px 40px;
  transition: 0.5s;
}

.menu-list > li:hover > a {
  transition: 0.5s;
  color: blueviolet;
}
.flex-h {
  display: flex;
  justify-content: space-between;
}

.cube {
  height: 50px;
  margin-top: 15px;
}

.main-content {
  height: var(--content-height);
  margin-top: var(--header-height) !important;
  overflow: hidden;
  position: relative;
  margin: 0 10vw;
}

.logo-div {
  margin-top: -1em;
  display: flex;
  align-items: center;
}

#logo {
  height: 30vh;
  background-color: rgb(0, 0, 0);
}

#logo-mobile {
  display: none;
}

.portrait {
  margin: 1em;
  width: 12vw;
}

.content-container {
  position: absolute;
  right: 0;
  top: 2em;
  height: 80%;
  width: 55vw;
  background-color: #000000de;
  font-size: 2em;
  padding: 1em;
  overflow-y: scroll;
}

.content-container > h1 {
  font-size: 1.3em;
}

.content-container > p {
  margin: 0.4em 0;
  font-size: 0.7em;
}

.project {
  width: 100%;
  display: flex;
  margin: 1em 0;
}

.project-img {
  border: 1px solid white;
  width: 10vw;
  height: 10vw;
}

.project-info {
  width: 75%;
  padding-left: 1em;
}

.project-name {
  font-size: 1em;
}

.project-description {
  font-size: 0.7em;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.info-card {
  margin: 2em 0 0;
  display: flex;
}

.card-icons {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2em;
}

.icon-mobile {
  display: none;
}

.card-icon {
  font-size: 1em;
}
.card-icon-small {
  margin-top: 2em;
  font-size: 0.3em;
}

.card-header {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-info {
  flex-basis: 80%;
}

.card-title {
  margin-top: 0;
}

.card-time {
  margin-top: 0%;
  font-size: 0.8em;
  color: grey;
}

.card-description {
  font-size: 0.6em;
  margin: 0;
}

.card-tags {
  display: flex;
  font-size: 0.5em;
}

.card-tag {
  margin-right: 0.7em;
  color: grey;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  display: flex;
  height: var(--footer-height);
  background-color: black;
  color: white;
  justify-content: center;
  align-content: center;
}

.footer > a {
  align-content: center;
  text-align: center;
}

.footer-link {
  margin: auto 0;
  text-decoration: none;
  color: white;
}

.footer-icon {
  margin: 0 1em;
  font-size: 2.5em;
}

.footer-link:hover {
  transition: 0.5s;
  color: blueviolet;
}

.m-10 {
  margin: 0 10vw;
}

.m-20 {
  margin: 0 20vw;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 1600px) {
  .content-container {
    width: 50vw;
  }
}

@media only screen and (max-width: 1000px) {
  .main-content {
    flex-direction: column;
    margin: 0 2vw;
    overflow: auto;
  }

  .content-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 2px;
    position: relative;
    height: auto;
    overflow-y: inherit;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .logo-div {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portrait {
    margin-left: 0;
    width: 100px;
  }

  #logo {
    display: none;
  }

  #logo-mobile {
    display: block;
    width: 20em;
    max-width: 60vw;
  }

  .card-info {
    width: 100%;
    flex-basis: auto;
    padding: 0 0.4em;
  }

  .card-icons {
    display: none;
  }

  .icon-mobile {
    display: block;
    align-self: center;
    margin: 1em 0 0.5em;
  }

  .card-header {
    flex-direction: column;
  }

  .card-title {
    margin-bottom: 0;
  }

  .card-time {
    font-size: 0.5em;
  }

  .card-description {
    font-size: 0.5em;
    margin: 0;
  }

  .card-tags {
    flex-wrap: wrap;
  }

  .card-tag {
    margin: 0.4em 0.4em 0 0;
  }

  #about > h1:nth-of-type(1) {
    text-align: center;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 850px) {
  .hide-desktop {
    display: block;
  }

  .hamburger {
    font-size: 2.5em;
    align-self: center;
  }

  #navigation {
    position: absolute;
    height: auto;
    top: var(--header-height);
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .content-container {
    width: 100%;
  }

  .menu-list > li {
    padding: 2em;
  }

  .hide-mobile {
    display: none !important;
  }
}
